* {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  background-color: blue;
}

.App {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
}

/* CONTENT PART */

.Content {
  height: 250px;
  width: 250px;
  background-color: red;
}

.Content h1 {
  height: 20%;
}

.Content p {
  height: 40%;
}

.Content button {
  height: 20%;
}

/* OFFER PART */
.Offer {
  width: 94%;
  height: 92%;
  background-color: yellow;
  position: absolute;
  top: 4%;
  left: 3%;
}

.Offer button {
  width: 100px;
  height: 20px;
}

/* CONNEXION PART */
.Connexion {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  flex-direction: column;
}

.Connexion h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Connexion div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Connexion button {
  height: 50px;
  width: 200px;
}

/* INSCRIPTION */
.Inscription {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.Inscription input {
  width: 600px;
  height: 50px;
}

.Inscription button {
  width: 400px;
  height: 50px;
}

.Connexion2 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.Connexion2 input {
  width: 600px;
  height: 50px;
}

.Connexion2 button {
  width: 400px;
  height: 50px;
}

/* PANNEL */
.Pannel {
  display: flex;
  width: 100vw;
  height: 30px;
  justify-content: right;
  align-items: center;
}

.Pannel div {
  height: 80%;
  padding: 0px 20px;
}

#username {
  background-color: green;
}

#disconnect {
  background-color: aqua;
}

#disconnect:hover {
  background-color: green;
}